{:requestinator/spec
 #requestinator.spec/swagger
 {:base #url "http://petstore.swagger.io/v2/swagger.json"
  :amendments nil}
 :requestinator/duration #minutes 15
 :requestinator/agent-groups
 [{:requestinator.agent/count 50
   :requestinator.agent/tag "uniform"
   :requestinator.agent/generator
   #requestinator.generators/uniform
   {:interarrival #seconds 10}}]}
