;; Copyright (c) 2016 Cognitect, Inc.
;;
;; This file is part of Requestinator.
;;
;; All rights reserved. This program and the accompanying materials
;; are made available under the terms of the Eclipse Public License v1.0
;; which accompanies this distribution, and is available at
;; http://www.eclipse.org/legal/epl-v10.html
{:requestinator/spec
 #requestinator.spec/swagger
 {:base #url "http://petstore.swagger.io/v2/swagger.json"
  :amendments nil}
 :requestinator/duration #minutes 15
 :requestinator/agent-groups
 {"default" {:requestinator.agent/count 50
             :requestinator.agent/tag "uniform"
             :requestinator.agent/scheduler
             #requestinator.scheduler/uniform
             {:interarrival #seconds 10}}}}
