{:requestinator/spec
 #requestinator.spec/swagger
 {:base #url "http://petstore.swagger.io/v2/swagger.json"
  :amendments nil                       ; Optional
  }
 :requestinator/duration #minutes 1
 :requestinator/agents
 [{:requestinator.agents/count 10
   :requestinator.agents/tag "markov"
   :requestinator.agents/generator
   #requestinator.generators/markov
   {:requests {:query-by-status {:path "/pet/findByStatus"
                                 :method "get"}
               :query-by-tags   {:path "/pet/findByTags"
                                 :method "get"}
               :pet-by-id       {:path   "/pet/{petId}"
                                 :method "get"}}
    :graph    {:start           [{:query-by-status {:weight 1
                                                    :delay (constant #seconds 1)}
                                  :query-by-tags   {:weight 1
                                                    :delay (constant #seconds 2)}}]
               :query-by-status [{:pet-by-id     {:weight 1
                                                  :delay  (erlang #seconds 10)}
                                  :query-by-tags {:weight 1
                                                  :delay  (erlang #seconds 10)}}]
               :query-by-tags   [{:pet-by-id {:weight 1
                                              :delay  (erlang #seconds 10)}}]}}}]}

