body {
    display: flex;
    flex-direction: column;
}

#timeline-container {
    display: inline-block;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#timeline {
    border: solid #ddd 1px;
}

#detail {
    border: 0;
    width: 100%;
    height: 100%;
}

#detail-container {
    width: 100%;
}

.details {
    font-family: monospace;
    font-size: 120%;
}

.request,.response {
    border: solid 1px black;
    margin-bottom: 7px;
}

.headers {
    margin-bottom: 12px;
}

.header .colon {
    margin-right: 5px;
}

.header-name {
    font-weight: bold;
}

.method,.url,.version {
    padding-right: 10px
}

.timeline-cell {
    stroke-width: 0.01;
    fill: white;
}

.timeline-rect {
    fill: red;
}

.timeline-handle {
    stroke: red;
    fill: #8ff;
}

.timeline-handle {
    stroke: red;
    fill: #fcc;
}

.timeline-handle.status2xx {
    stroke: green;
    fill: #dfd;
}

.timeline-rect.status2xx {
    fill: green;
}

.timeline-outline {
    stroke-width: 0.01;
    fill: white;
    stroke: none;
}

.timeline-outline.odd {
    fill: #eee;
}

.timeline-cell.selected {
    stroke-width: 0.03;
}

#highlight-x,#highlight-y {
    fill: #bbddff;
    opacity: 0.2;
}

#highlight-x.locked,
#highlight-y.locked {
    opacity: 0.7;
    fill: yellow;
}

.time {
    stroke: black;
    stroke-dasharray: 0.2 0.5;
    opacity: 0.4;
    stroke-width: 0.01;
}

.time5 {
    opacity: 0.6;
    stroke-dasharray: 0.2 0.5;
}

.time15 {
    opacity: 0.8;
    stroke-dasharray: 0.75 0.25;
}

.time30 {
    opacity: 1;
    stroke-dasharray: 0.9 0.1;
}

.time60 {
    opacity: 1;
    stroke-width: 0.02;
    stroke-dasharray: 1 0;
}

.time-label {
}

.lightbox {
    position: fixed;
    top: 0;
    left: -10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.lightbox-content {
    margin: 50 auto;
    background: white;
    width: 70%;
    font-size: 120%;
    padding: 10px;
    overflow: scroll;
}

.curl-button {
    background-image: url("../images/curl.svg");
    background-size: 20px 20px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

.copy-trigger {
    background-image: url("../images/clipboard.svg");
    background-size: 22px 22px;
    background-position-x: 2px;
    background-repeat: no-repeat;    
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: white;
    border-style: outset;
}

.copy-trigger:active {
    border-style: inset;
}

.copy-tip {
    position: relative;
    opacity: 0;
    font-size: 75%;
    margin-left: 10px;
    background: aliceblue;
    border: 1px dashed grey;
    border-radius: 3px;
    vertical-align: middle;
    padding: 3px;
    top: -10;
}

